.button-1 {
    background-color: #010101;
}

.button-2 {
    color: #010101;
    background-color: white;
}

.button-2:hover {
    background-color: rgb(194, 194, 194);
}

.button-1:hover {
    background-color: #464646;
}

.div-block {
    background-color: rgb(167, 167, 167);
}

.image {
    border-bottom: 4px solid white;
}

.block-adv {
    border-bottom: 2px solid #010101;
}

.wbs-accordion-3-icon-plus {
    background-color: #010101;
}

.wbs-accordion-3-icon-minus {
    background-color: #010101;
}

.link:hover {
    color: rgb(192, 192, 192);
}

.wbs-nav-link:hover,
.wbs-nav-link.w--current {
    color: rgb(192, 192, 192);
}

.telegram-icon {
    position: fixed;
    /* Фиксированное положение относительно окна браузера */
    bottom: 100px;
    /* Отступ от нижнего края */
    right: 20px;
    /* Отступ от левого края */
    z-index: 1000;
    /* Гарантирует, что значок будет поверх других элементов */
    display: block;
    /* Убедитесь, что ссылка отображается */
    width: 70px;
    /* Ширина значка */
    height: 70px;
    /* Высота значка */
    border-radius: 50px;
}

.whatsapp-icon {
    border-radius: 50%;
    bottom: 180px;
}

.telegram-icon img {
    border-radius: 50px;
    width: 100%;
    /* Растягивает изображение на всю ширину контейнера */
    height: 100%;
    /* Растягивает изображение на всю высоту контейнера */
    object-fit: contain;
    /* Сохраняет пропорции изображения, не обрезая его */
}

/* Дополнительные стили (по желанию) */
.telegram-icon:hover {
    opacity: 0.8;
    /* Небольшое изменение прозрачности при наведении */
}

.telegram-text {
    margin-left: -10px;
    width: 120px;

    color: black;
    text-decoration: none;
}




.wbs-accordion-3-content {
    display: none;
    /* Скрываем содержимое по умолчанию */
    overflow: hidden;
    /* Предотвращает возможные проблемы с отображением контента во время анимации */
}

.wbs-accordion-3-heading {
    cursor: pointer;
    /* Меняем курсор при наведении, чтобы показать, что элемент кликабельный */
    padding: 10px;
    background-color: #f6f7f8;
    border-bottom: 1px solid #f6f7f8;
    min-width: 600px;
    max-width: 600px;
}

.wbs-accordion-3-heading:hover {
    background-color: #f6f7f8;
}

.wbs-accordion-3-heading.active {
    background-color: #f6f7f8;
}

.wbs-accordion-3-content.active {
    display: block;
    /* Показываем содержимое при активации */
}

@media (max-width: 583px) {
    .wbs-accordion-3-heading {
        min-width: inherit;
        max-width: inherit;
    }
}

.wbs-accordion-3-content {
    height: 0;
    /* Начальная высота 0 */
    overflow: hidden;
    transition: height 0.3s ease;
    /* Плавная анимация высоты */
}

.wbs-accordion-3-heading {
    cursor: pointer;
    padding: 10px;
}

.wbs-accordion-3-content.active {
    height: auto;
    /* Автоматическая высота при открытии */
}

.dot {
    background-color: #010101;
}

.brand img {
    width: 100px;
    height: 100px;
}

.caps-back {
    background-color: white;
}

.about-us__title {
    font-family: Montserrat, sans-serif;
    font-size: 45px;
    font-weight: 500;
    line-height: 120%;
    position: relative;
    text-align: center;
    margin-bottom: 80px;
}

.wrapper-about {
    margin: 0px auto;
}

.about-us__text {
    font-size: 30px;
    color: #0099CC;
    text-align: center;
    margin-bottom: 80px;
}

.about-us__companies {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.about-us__company {
    min-height: 270px;
    padding: 100px 20px;
    border: 1px solid #00536e;
    transition: all 0.3s linear;
}

.about-us__company:hover {
    border: 1px solid #00678a;
    transform: scale(1.1);
}

.about-us__company img {
    width: 200px;
}

.company-2 {
    padding: 120px 20px;
}

.about-us__link-text {
    cursor: pointer;
    max-width: 170px;
    text-align: center;
    border-bottom: 1px solid #2f3f44;
    color: #000000;
    font-size: 20px;
    margin: 0px auto;
    margin-bottom: 30px;
}

.about-us__image {
    margin: 0px auto;
    width: 80%;
}

@media (max-width: 680px) {
    .about-us__company img {
        width: 100px;
    }

    .about-us__company {
        padding: 80px 20px 20px 20px;
        min-height: 200px !important;
    }

    .company-2 {
        padding: 87px 20px 20px 20px;
    }
}

@media (max-width: 545px) {
    .about-us__companies {
        flex-direction: column;
    }

    .about-us__company img {
        width: 200px;
    }

    .about-us__company {
        padding: 80px 100px !important;
        min-height: 100px !important;
    }
}

@media (max-width: 419px) {
    .about-us__company {
        padding: 50px 70px !important;
    }

    .about-us__company img {
        width: 150px;
    }
}

@media (max-width: 372px) {}

.swiper-pagination {
    position: relative;
}

.testimonials {
    margin: 0px 15px;
}

.testimonials-slider__slide {
    user-select: none;
    padding: 40px;
    background: #0099CC;
    height: 750px;
}

.testimonials__slider-icon {
    text-align: center;
    margin: 0px auto;
    width: 200px;
    margin-bottom: 40px;
}

.testimonials__slider-image {
    text-align: center;
    margin: 0px auto 60px 0px;
}

.testimonials__slider-image img {
    width: 200px;
}

.testimonials__slider-text {
    font-size: 20px;
    color: white;
    margin-bottom: 40px;
    text-align: center;
}

.testimon {
    margin-bottom: 40px;
}

.testimonials__slider-author {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}

.testimonials__slider-proffesion {
    font-size: 20px;
    color: white;
}

.testimonials-slider__wrapper {
    margin-bottom: 40px;
}